.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    width: 100%;
    padding: 200px 0 40px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    width: 80vw;
    color: hsl(0, 0%, 100%);
}

.footer-content .info {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.info ul li{
    display: flex;
    margin-bottom: 20px;
}

.info ul li i{
    margin-right: 40px;
}

.location{
    width: 400px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.social li a i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
    margin-right: 0;
    transition: 0.3s ease-in;
}

.info .links a{
    position: relative;
}

.info .links a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    transition: width 0.2s;
}

.info .links a:hover::after{
    width: 100%;
}

.social li a i:hover{
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
}

.copyright{
    align-self: flex-end;
}

@media(max-width:1200px){
    .footer-content{
        width: 90vw;
        font-size: 16px;
    }

    .location{
        width: 350px;
    }
}

@media(max-width:800px){
    .footer-content .info {
        flex-direction: column;
    }

    .footer-content{
        align-items: center;
    }

    .copyright{
        align-self: center;
    }
    
}